body {
    font-family: "Comic Sans MS";
    background-color: lightsalmon;
}

#heading {
    text-align: center;
}

#almost-top {
    margin-top: 55px;
}

#secondary {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 55px;
    background-color: white;
}

#secondary #pro {
    text-align: center;
    padding-top: 50px;
}

#cool {
    margin-left: 50px;
}

#help {
    margin-left: 50px;
    padding-bottom: 25px;
}

.different {
    border-left: 5px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
    padding: 5px;
    margin: -5px;
}

.different:hover {
    background-color: palegreen;
}

#tabs-border-bottom {
    border-bottom: 1px solid gray;
    padding-bottom: 55px;
    text-align: center;
}

.borderlands {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 5px;
}

.tabs {
    margin-right: 5px;
}

.tabs:hover {
    background-color: azure;
}

.image {
    float: left;
    margin-right: 10px;
    margin-bottom: 100px;
}

.heading {
   clear: both;
}

.enlarge {
    font-size: 25px;
}

.move {
    position: absolute;
    left: 425px;
}

.echo {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin-right: 20px;
}

#cooler {
    margin-left: 50px;
}

#eagle {
    margin-left: 50px;
}

#lol {
    padding-bottom: 25px;
    margin-left: 50px;
}

#hello {
    margin-bottom: 25px;
}

#hehe {
    margin-left: 50px;
}

#ghost {
    margin-left: 30px;
}

#wow {
    margin-left: 50px;
}

#distract {
    margin-left: 50px;
    padding-bottom: 25px;
}

#sniper {
    margin-left: 50px;
    padding-bottom: 25px;
}

.justdoit {
    margin-left: 50px
}

#idk {
    margin-left: 50px;
    padding-bottom: 25px;
}

#okay {
    margin-left: 50px;
    padding-bottom: 25px;  
}

#later {
    margin-left: 50px;
    padding-bottom: 25px;      
}

#try {
    position: absolute;
    left: 300px;
}

#learn {
    position: absolute;
    left: 700px;
}

#dot {
    position: absolute;
    left: 300px;
    top: 800px;
}

#tired {
    position: absolute;
    left: 700px;
    top: 800px;
}

#near {
    position: absolute;
    left: 275px;
    top: 720px;
}

#nearer {
    position: absolute;
    left: 745px;
    top: 720px;
}

#nearest {
    position: absolute;
    left: 275px;
    top: 1100px;
}

#far {
    position: absolute;
    left: 745px;
    top: 1100px;
}